@{
  Layout = "_Layout";
}

<h1>Welcome to Dr. SillyStringz's Factory!</h1>
<p>@Html.ActionLink("See all Machines", "Index", "Machines")</p> 
<p>@Html.ActionLink("See all Engineers", "Index", "Engineers")</p>